@import "../../../../../styles/vars";

.selected-fund-wrp {
  border-radius: 20px;
  width: 400px;
  min-width: 400px;
  height: 250px;
  min-height: 250px;
  background: #12c2e9; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #f64f59,
    #c471ed,
    #12c2e9
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #f64f59,
    #c471ed,
    #12c2e9
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  .selected-fund {
    border-radius: 20px;
    display: flex;
    background-color: rgba(0, 0, 0, 0.4);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    .fund-amount {
      .fund-amount-title {
        font-size: $font-size-title;
      }
      .fund-amount-value {
        font-size: $font-size-title;
      }
      img {
        width: $font-size-title;
        padding-bottom: 15px;
        margin-left: 2px;
      }
    }
  }
}
