@import '../../../../../styles/vars';
@import '../../../../../styles/fonts';
@import '../../../../../styles/mixins';

.item {
  @include reset-button;
  @include heading-md;
  margin: 0px 40px 0px 0px;
  padding: 10px 20px 10px 20px;
  background: none !important;
  box-shadow: none !important;
  color: $color-root-text;
  text-decoration: none;
  border-radius: 20px 20px 0px 0px !important;
}

.item-active {
  background-color: $color-root-block-background !important;
  color: $color-root-turquoise !important;
}
