@import '../../../styles/vars';
.wrp-fund-body {
  background-color: $color-root-block-background;
  margin: 15px 0px;
  border-radius: 5px;
  .fund-body {
    border-radius: 5px;
    padding: 20px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    .input-wrp {
      h2 {
        font-size: $font-size-category;
        color: $color-root-text;
        img {
          height: $font-size-category;
          margin-left: 3px;
          margin-bottom: 3px;
        }
      }
    }
    .add-funds-btn {
      background: rgb(0, 141, 0)  !important;
      color: white;
      font-size: $font-size-akcent;
      padding: 5px 16px;
      border-width: 0px;
      border-radius: 6px;
      margin-right: 3px;
    }

    &:hover {
      background-color: rgba(0, 0, 0, 0.4);
    }
  }
  &:hover {
    background: #780206;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #061161, #780206);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #061161, #780206); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    background-size: 700% 700%;
    animation: gradient 4s ease infinite;
  }
  *:hover,
  *:focus,
  *:active {
    outline: none;
    box-shadow: none !important;
    -webkit-appearance: none;
    -moz-appearance: textfield;
  }

  input[type='number'] {
    -moz-appearance: textfield;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
}

@keyframes gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

@media screen and (max-width: 1000px) {
  div {
    .wrp-fund-body {
      .fund-body {
        .purchase-action {
          background-color: rgba(0, 0, 0, 0);
          .purchase-action-price {
            display: none;
          }
        }
      }
    }
  }
}
