#
# APPLICATION
#

PORT=3002
RABBIT_URL=amqps://localhost

#
# PostgreSQL DATABASE Config
#

/* Change with your data */
TYPEORM_CONNECTION=postgres
TYPEORM_HOST=localhost
TYPEORM_PORT=5432
TYPEORM_DATABASE=test
TYPEORM_USERNAME=postgres
TYPEORM_PASSWORD=password

/* Do not change */
TYPEORM_LOGGING=true
TYPEORM_SYNCHRONIZE=false
TYPEORM_MIGRATIONS_RUN=true
TYPEORM_MIGRATIONS=src/data/migrations/*.ts
TYPEORM_MIGRATIONS_DIR=src/data/migrations/
TYPEORM_ENTITIES=src/data/entities/*.ts

#
# AUTHENTICATION
#
# SECRET_KEY has to be changed to own random secret key
SECRET_KEY=blabla
