@import 'vars';
@import 'fonts';

@mixin reset-button {
  border: none;
  outline: none;
  padding: 0;
  background: transparent;
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin heading-mini {
  font-family: $font-roboto500;
  font-size: $font-size-small;
  font-style: normal;
  line-height: $line-height-md;
}

@mixin heading-sm {
  font-family: $font-roboto500;
  font-size: $font-size-akcent;
  font-style: normal;
  line-height: $line-height-md;
}

@mixin heading-md {
  font-family: $font-roboto500;
  font-size: $font-size-heading;
  font-style: normal;
  line-height: $line-height-md;
}

@mixin heading-lg {
  font-family: $font-roboto700;
  font-size: $font-size-akcent;
  font-style: normal;
  line-height: $line-height-md;
}

@mixin heading-xl {
  font-family: $font-roboto700;
  font-size: $font-size-category;
  font-style: normal;
  line-height: $line-height-md;
}

@mixin heading-xxl {
  font-family: $font-roboto700;
  font-size: $font-size-hyper-text;
  font-style: normal;
  line-height: $line-height-md;
}

@mixin text-mini {
  font-family: $font-roboto400;
  font-size: $font-size-mini;
  font-style: normal;
  line-height: $line-height-md;
}

@mixin text-sm {
  font-family: $font-roboto300;
  font-size: $font-size-small;
  font-style: normal;
  line-height: $line-height-md;
}

@mixin text-sm-bold {
  font-family: $font-roboto400;
  font-size: $font-size-small;
  font-style: normal;
  line-height: $line-height-md;
}

@mixin text-md {
  font-family: $font-roboto300;
  font-size: $font-size-text;
  font-style: normal;
  line-height: $line-height-md;
}

@mixin text-md-bold {
  font-family: $font-roboto400;
  font-size: $font-size-text;
  font-family: normal;
  line-height: $line-height-md;
}

@mixin text-xl {
  font-family: $font-roboto400;
  font-size: $font-size-akcent;
  font-family: normal;
  line-height: $line-height-md;
}
