$color-root-background: #191b1f;
$color-root-block-background: #2e333a;
$color-root-turquoise: #0aecec;
$color-root-turquoise-gradient: linear-gradient(
  90deg,
  #17e5e8 0%,
  #27aaf2 100%
);
$color-root-text: #fafbff;

$font-size-small: 12px;
$font-size-text: 14px;
$font-size-akcent: 16px;
$font-size-category: 24px;

$breakpoint-xs: 0px;
$breakpoint-sm: 600px;
$breakpoint-md: 960px;
$breakpoint-lg: 1280px;
$breakpoint-xs: 1920px;
