@import './../../styles/mixins', './../../styles/vars';

.popover-trigger {
  @include reset-button;
}

.popover-container {
  max-width: 100%;
  border-radius: 0;
  border: none;
  background: $color-root-block-background;
  :global(.popover-arrow) {
    display: none;
  }
}

.popover-body {
  max-width: 100%;
  padding: 0;
  color: $color-root-text;
}
