@import '../../../../../../styles/vars';

.card-element-wrp{
  margin-top: 30px;
  background-color: rgb(211, 211, 211);
  padding: 10px;
  border-radius: 10px;
}
.card-payment-error{
  color: $color-error;
  font-size: $font-size-text;
}
.btn-pay-wrp{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  min-height: 80px;
  button{
    margin-top: 20px;  
  }
}