.checkbox{
    display: flex;
    align-items: center;
    input{
        height: 15px;
        width: 15px;
        margin-right: 5px;
    }
    input:checked + label:after{
        content: none;
        background-color: red;
    }
}