@import '../../styles/vars';
@import '../../styles/mixins';

.trends-container {
  display: flex;
  flex-direction: column;
}

.wrapper {
  background-color: $color-root-background;
  margin-top: 10rem;
}
