@import '../../../../styles/vars';

.filters {
  padding-block: 1rem;
  margin-bottom: 1.5rem;
  border: 1px solid $color-base-border;
  background: $color-root-grey;
}

.upcoming {
  margin-bottom: 1rem;
}
