@import '../../../../styles/vars';
@import '../../../../styles/mixins';
.footer {
  display: flex;
  justify-content: space-between;
  .back {
    background: none;
    border: 1px solid $color-root-text;
  }
}
.pointControl {
  display: flex;
  align-items: center;
  .addPoint {
    margin-left: 20px;
  }
}
.listPoints {
  margin-bottom: 0;

  li {
    display: flex;
    align-items: center;
    .circle {
      font-size: 5px;
      margin-right: 8px;
    }
    .deletePoint {
      background: none;
    }
  }
}
.addPrivilege {
  margin-bottom: 20px;
}
.privilege {
  position: relative;
  background: $color-root-block-background;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 15px;
}

.close {
  z-index: 5;
  background: none;
  position: absolute;
  @include flex-center;
  top: 8px;
  right: 8px;
  height: 26px;
  width: 26px;

  &:hover {
    background: $color-glitch-red;
  }
}
