@import '../../../../styles/vars';
.footer{
    display: flex;
    justify-content: space-between;
    .back{
        background: none;
        border: 1px solid $color-root-text;
    }
}
.pointControl{
    display: flex;
    align-items: center;
    .addPoint{
        margin-left: 20px;
    }
}
.listPoints{
    li{
        display: flex;
        align-items: center;
        .circle{
            font-size: 5px;
            margin-right: 8px;
        }
        .deletePoint{
            background: none;
        }
    }
}
.addPrivilege{
    margin-bottom: 20px;
}
.privilege{
    position: relative;
    background: $color-root-block-background;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 15px;
}
.close{
    background: none;
    position: absolute;
    right: 0;
    top: 8px;
}