@import '../../../../styles/vars';
.footer{
    display: flex;
    justify-content: space-between;
    .back{
        background: none;
        border: 1px solid $color-root-text;
    }
}
.projectImage{
    max-width: 100%;
    max-height: 200px;
    margin-bottom: 20px;
}
.listTags{
    display: flex;
    margin-bottom: 15px;
    flex-wrap: wrap;
    .tag{
        padding: 3px 7px;
        margin-right: 5px;
        margin-bottom: 5px;
        background: $color-root-grey;
        border-radius: 3px;
        width: fit-content;
        height: fit-content;
        display: flex;
        align-items: center;
        font-size: 14px;
        
        >svg{
            margin-left: 5px;
        }
    }
}
.tagControl{
    display: flex;
    align-items: center;
    margin-top: 15px;
}
.addTag{
    background: none;
    border: 1px solid $color-root-text;
    margin-left: auto;
    height: fit-content;
    margin-left: 20px;
    margin-top: 5px;
    &:hover{
        background: $color-primary-button;
    }
}