@import '../../../../styles/vars';
.footer{
    display: flex;
    justify-content: space-between;
    .back{
        background: none;
        border: 1px solid $color-root-text;
    }
}
.projectImage{
    max-width: 100%;
    max-height: 200px;
    margin-bottom: 20px;
}