@import '../../../styles/mixins', '../../../styles/vars';

.register-cta {
  margin: 10px 0 40px;
  font-size: $font-size-small;
  line-height: 14px;
  color: $color-root-text-grey;

  a {
    color: $color-root-turquoise;
    text-decoration: none;
  }
}

.sign-up-button {
  @include flex-center;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 100%;
  height: 45px;
  font-weight: bold;
  font-size: $font-size-aсcent;
  line-height: 19px;
}

.form-titles-wrapper {
  margin: -20px 0 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-title {
  margin: 0;
  color: $color-root-turquoise;
  font-weight: bold;
  font-size: $font-size-text;
}

.form-title.chosen {
  border-bottom: 2px solid $color-root-turquoise;
  font-size: $font-size-aсcent;
}

.detail-form-control,
.name-wrapper,
.form-titles-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.name-wrapper div {
  width: 48%;
}

.name-wrapper div div {
  width: 100%;
}

.detail-form-control button {
  width: 45%;
}

.select-form,
.birth-form {
  margin-bottom: 24px;
}

.birth-form div input {
  width: 100%;
}
