@import '../../styles/vars';
@import '../../styles/fonts.scss';

// $color-root-block-background - block color

.counter {
  width: 190px;
  height: 170px;
  background: $color-root-block-background;
  border-radius: 6px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: $font-roboto700;
  font-size: 28px;
}

.value {
  font-size: 52px;
  background: $color-root-turquoise-gradient;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
