@import '../../../../styles/vars';
.footer{
    display: flex;
    justify-content: space-between;
    .back{
        background: none;
        border: 1px solid $color-root-text;
    }
}
.editor{
    min-height: 60vh;
    display: grid;
    grid-template-rows: auto 1fr;
    p{
        margin-bottom: 10px;
    }
}