@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');

.logo {
  font-size: 2rem;
  font-weight: bold;
  color: white;
  font-family: Orbitron;
  letter-spacing: 0.28em;
}

.glitch {
  position: relative;
  text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.44), -0.035em -0.05em 0 rgba(0, 255, 0, 0.44),
    0.05em 0.05em 0 rgba(0, 0, 255, 0.44);

  animation: glitch 500ms infinite;

  span {
    position: absolute;
    top: 0px;
    left: 0px;
  }

  span:nth-child(3) {
    font-weight: lighter;
    opacity: 0.5;
    transform: translate(0.01em, 0.03em);
  }

  span:nth-child(2) {
    text-shadow: none;
    animation: none;
    opacity: 0.9;
  }

  span:first-child {
    animation: glitch 650ms infinite;
    display: block;
    color: #0aecec;
    -webkit-text-stroke: 0.25em #0aecec;
  }

  span:last-child {
    font-weight: lighter;
    opacity: 0.8;
    clip-path: polygon(0 100%, 10% 0, 100% 45%, 0 45%);
    transform: translate(-0.05em, -0.08em);
  }
}

@keyframes glitch {
  0% {
    text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.44), -0.035em -0.05em 0 rgba(0, 255, 0, 0.44),
      0.05em 0.05em 0 rgba(0, 0, 255, 0.44);
  }
  14% {
    text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.44), -0.035em -0.05em 0 rgba(0, 255, 0, 0.44),
      0.05em 0.05em 0 rgba(0, 0, 255, 0.44);
  }
  15% {
    text-shadow: -0.05em -0.035em 0 rgba(255, 0, 0, 0.44), 0.025em 0.025em 0 rgba(0, 255, 0, 0.44),
      -0.05em -0.05em 0 rgba(0, 0, 255, 0.44);
  }
  49% {
    text-shadow: -0.05em -0.035em 0 rgba(255, 0, 0, 0.44), 0.025em 0.025em 0 rgba(0, 255, 0, 0.44),
      -0.05em -0.05em 0 rgba(0, 0, 255, 0.44);
  }
  50% {
    text-shadow: 0.025em 0.05em 0 rgba(255, 0, 0, 0.44), 0.05em 0 0 rgba(0, 255, 0, 0.44),
      0 -0.05em 0 rgba(0, 0, 255, 0.44);
  }
  99% {
    text-shadow: 0.025em 0.05em 0 rgba(255, 0, 0, 0.44), 0.05em 0 0 rgba(0, 255, 0, 0.44),
      0 -0.05em 0 rgba(0, 0, 255, 0.44);
  }
  100% {
    text-shadow: -0.035em 0 0 rgba(255, 0, 0, 0.44), -0.035em -0.035em 0 rgba(0, 255, 0, 0.44),
      -0.05em -0.05em 0 rgba(0, 0, 255, 0.44);
  }
}
