@import '../../styles/vars';
.donate-page{
  display: flex;
  .donate-price{
    .donate-form {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      margin-top: 20px;
      .donate-submit-btn-price{
        margin-top: 2px;
      }
      .donate-input-wrp{
        width: 100px;
      }
      .donate-submit-price{
        padding-left: 10px;
      }
    }
  }
}
