
@import '../../styles/vars';

.input-container {
  flex-direction: column;
  width: 100%;
}

.input-label {
  font-weight: $font-weight-medium;
}

.input-field-container {
  display: flex;
  position: relative;
}

.input-field {
  border: 1px solid $color-root-text;
  border-radius: 1px;
  background: none;
  color: $color-root-text;
  &:focus{
      background: none;
      color: $color-root-text;
  }
}

.input-password-eye {
  position: absolute;
  border: none;
  background: none;
  bottom: 30px;
  right: 5px;
}

.error-message-container {
  height: 1.5rem;
  line-height: 1rem;
}

.error-message {
  color: $color-error;
  font-size: 0.8rem;
}
