@import '../../styles/vars';

.input-container {
  flex-direction: column;
  width: 100%;
}

:global(#input-arrow-up) {
  fill: white;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type='number']:hover::-webkit-inner-spin-button {
  background-image: url('../../assets/scroll.svg');
  background-position: center;
  background-size: cover;
  filter: invert(57%) sepia(94%) saturate(2339%) hue-rotate(173deg)
    brightness(98%) contrast(93%);
  width: 14px;
  height: 25px;
  margin: 4px;
}

input[type='number']:hover .input-label {
  font-weight: $font-weight-medium;
}

.input-field-container {
  display: flex;
  position: relative;
}

.input-field {
  border: 1px solid $color-root-text;
  border-radius: 1px;
  background: none;
  color: $color-root-text;
  &:focus {
    background: none;
    color: $color-root-text;
  }
}

.input-password-eye {
  position: absolute;
  border: none;
  background: none;
  bottom: 30px;
  right: 5px;
}

.error-message-container {
  height: 1.5rem;
  line-height: 1rem;
}

.error-message {
  color: $color-error;
  font-size: 0.8rem;
}
