@import '../../styles/mixins', '../../styles/vars';

.root {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 200px 1fr;

  @media (min-width: $breakpoint-lg) {
    grid-template-columns: 40% 60%;
    grid-template-rows: 1fr;
  }
}

.content {
  @include flex-center;
  padding: 2rem;
}

.hero {
  @include flex-center;
  background-image: url('../../assets/login_bg.jpg');
  background-position: center;
  background-size: cover;

  @media (min-width: $breakpoint-lg) {
    order: 2;
  }
}

.logo {
  width: 300px;

  @media (min-width: $breakpoint-lg) {
    width: 500px;
  }
}

.form {
  max-width: 360px;
  width: 100%;
}

.title {
  font-weight: bold;
  font-size: $font-size-category;
  line-height: 28px;
  color: $color-root-turquoise;
}

.register-cta {
  margin: 10px 0 20px;
  font-size: $font-size-small;
  line-height: 14px;
  color: $color-root-text-grey;

  a {
    color: $color-root-turquoise;
    text-decoration: none;
  }
}

.password-cta {
  position: relative;
  height: 0;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  white-space: nowrap;

  a {
    position: absolute;
    top: 2px;
    z-index: 2;
    font-size: $font-size-small;
    line-height: 14px;
    color: $color-root-turquoise;
    text-decoration: none;
  }
}

.sign-in-button {
  @include flex-center;
  margin-top: 15px;
  margin-bottom: 40px;
  width: 100%;
  height: 45px;
  font-weight: bold;
  font-size: $font-size-aсcent;
  line-height: 19px;
}

.social-media-auth-button-wrapper {
  margin-top: 40px;
  height: 45px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.google-button {
  @include flex-center;
  height: 100%;
  width: 45%;
  font-weight: bold;
  font-size: $font-size-aсcent;
  line-height: 19px;
  background: transparent;
  border: 1px solid $color-root-turquoise;

  img {
    height: 25px;
  }
}

.horizontal-ruler-text {
  position: relative;
  height: 0;
  display: flex;
  justify-content: center;

  div {
    position: absolute;
    z-index: 2;
    top: -14px;
    padding: 0 6px;
    font-size: $font-size-large;
    color: $color-root-text;
    background: $color-root-background;
  }
}

.horizontal-ruler {
  margin: 0;
  padding: 0;
  overflow: visible;
  border: none;
  color: $color-root-text;
}
