@import '../../styles/vars';
@import '../../styles/fonts';
@import '../../styles/mixins';

.info-block-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 96%;
  min-height: 221px;
  margin-top: 20px;
  padding: 10px 12px;
  background-color: $color-root-block-background;
  border-radius: 6px;

  .info-block {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(4, 1fr);

    @media screen and (max-width: $breakpoint-xxl) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .info-block-entity {
    text-align: center;

    .info-backers-amount,
    .info-days-amount {
      font-weight: $font-weight-bold;
      font-size: 24px;
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
    }

    .info-goal-amount {
      display: flex;
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
      gap: 5px;
      align-items: center;
      justify-content: center;
      font-family: $font-roboto700;
      font-size: 24px;
      background: $color-root-turquoise-gradient;
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      -moz-background-clip: text;
      -moz-text-fill-color: transparent;

      img {
        width: 30px;
        height: 30px;
      }
    }

    .info-backers,
    .info-goal,
    .info-days {
      font-family: $font-roboto300;
      font-size: 20px;
    }
  }

  .info-block-footer {
    margin-top: 20px;

    .likes-container {
      color: #25c685;
      button {
        color: #25c685;
      }
    }

    .dislikes-container {
      color: #ff575f;
      button {
        margin-bottom: 8px;
        color: #ff575f;
      }
    }

    .likes-container,
    .dislikes-container {
      width: 90px;

      button {
        background: none;
        border: none;
      }

      .disabled{
        @include disable-button;
      }
    }

    .likes-amount,
    .dislikes-amount {
      user-select: none;
      margin-left: 4px;
      font-size: $font-size-aсcent;
      font-weight: $font-weight-medium;
    }

    .buttons-container {
      width: 200px;
      margin-left: auto;
      display: flex;
      justify-content: flex-end;

      Button {
        margin-left: 12px;
      }
    }
  }
}
