@import "../../styles/vars";

.projects-page {
  margin-top: 7rem;
  margin-bottom: 1rem;

  @media (max-width: 699px) {
    margin-top: 8.5rem;
  }

  @media (max-width: 510px) {
    margin-top: 10.5rem;
  }
}

.projects-wrapper {
  padding: 0;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;

  & > a {
    flex: 0 0 100%;
  }
}

.error-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 1rem;
}
