@import '../../../../styles/vars';
@import '../../../../styles/fonts.scss';

$width_panel:200px;

.root{
    display: flex;
    justify-content: center;
}
header{
    font-size: $font-size-hyper-text;
    font-family: $font-roboto700;
    margin-left: $width_panel;
}
.layout_base{
    width: 100%;
    max-width: 900px;
}
aside{
    width: $width_panel;
    padding: 0 15px;
    min-height: 100%;
}
.menu{
    background: $color-root-block-background;
    border-radius: 5px;
    height: 100%;
    padding: 10px;
    button{
        background: none;
        width: 100%;
        &:focus{
            box-shadow: none!important;
        }
        &:hover{
            background: $color-root-modal-background;
        }
    }
}
section{
    display: flex;
}
article{
    width: calc(100% - 2 * #{$width_panel});
}
footer{
    margin: 10px 0;
    padding-top: 20px;
    border-top: 1px solid $color-root-text;
}