@import './../../styles/vars';

.button {
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  * {
    margin: 0 5px;
  }
}

.button:hover {
  border-color: transparent;
}

.button[href] {
  display: inline-block;
}

.primary {
  background: $color-primary-button;
  border: none;
}

.secondary {
}

.outline {
  border: solid 2px transparent;
  background: $color-primary-button;
  box-shadow: 2px 1000px 1px $color-root-background inset;
}

.circle {
  border-radius: 50%;
}
