@import './../../styles/vars';

.button {
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  * {
    margin: 0 5px;
  }
  &:hover {
    border-color: transparent;
  }
  &[href] {
    display: inline-block;
  }
}

.primary {
  background: $color-primary-button;
  border: none;
}

.primary-outline {
  background: $color-primary-button;
}

.outline {
  border: solid 2px transparent;
  box-shadow: 2px 1000px 1px $color-root-background inset;
}

.secondary {
}

.circle {
  border-radius: 50%;
}
