@import '../../styles/vars';
@import '../../styles/fonts';

.project-header {
  height: 420px;

  .project-image {
    object-fit: cover;
    width: 100%;
  }

  .project-name {
    font-size: $font-size-category;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .project-category {
    color: $color-root-turquoise;
    font-size: $font-size-akcent;
  }

  .project-social-links-container {
    margin-left: 3px;

    a {
      padding: 5px 10px;
      width: 43px;
      border-radius: 2px;
      margin-right: 10px;
      background-color: $color-root-grey;
      color: $color-root-text;
    }

    a:hover {
      color: $color-root-turquoise;
    }
  }
}

hr.horizontal-line {
  background: linear-gradient(90deg, #894eed 0%, #28abf2 100%);
  height: 5px;
}

.faqs {
  width: 80%;
}
