@import '../../styles/vars';
@import '../../styles/fonts';
@import '../../styles/mixins';

.container {
  margin-top: 130px;
}

.project-header {
  height: 420px;

  @media (max-width: $breakpoint-lg) {
    height: auto;
    margin-bottom: 25px;
  }

  .project-image {
    object-fit: cover;
    width: 100%;
  }

  .project-name {
    font-size: $font-size-category;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .watch-container {
    display: flex;
    justify-content: end;
    button {
      background: none;
      border: none;
    }
    .disabled{
      @include disable-button;
    }
  }

  .project-category {
    color: $color-root-turquoise;
    font-size: $font-size-aсcent;
  }

  .project-social-links-container {
    margin-left: 3px;
    display: flex;

    a {
      padding: 5px 10px;
      width: 43px;
      border-radius: 2px;
      margin-right: 10px;
      background-color: $color-root-grey;
      color: $color-root-text;
      &:hover {
      color: $color-root-turquoise;
      }
    }

    Button {
      width: 100px;
      margin-left: auto;
      margin-right: 18px;
      background: $color-root-grey;
    }
  }
}

.project-story {
  .tag-wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .tag-item {
    margin: 0px 10px 10px 0px;
  }

  .privilege-title {
    @include heading-xl;
    margin: 20px 0px;
  }

  .privilege-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
}

.comment-wrapper {
  margin-bottom: 20px;
}

.comment-input-wrapper {
  margin-top: 20px;
  margin-bottom: 30px;
}

.comment-btn {
  height: 38px;
}

.statistics-wrapper {
  color: red;
}

hr.horizontal-line {
  background: linear-gradient(90deg, #894eed 0%, #28abf2 100%);
  height: 5px;
}

.faqs {
  width: 80%;
}
