@import '../../styles/vars';
@import '../../styles/fonts';
@import '../../styles/mixins';

.container {
  margin-top: 130px;
}

.project-header {
  height: min-content;

  @media (max-width: $breakpoint-lg) {
    height: auto;
    margin-bottom: 25px;
  }

  .project-image {
    object-fit: cover;
    width: 100%;
  }

  .project-video {
    object-fit: cover;
    width: 100%;
  }

  .project-name {
    font-size: $font-size-category;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .watch-container {
    display: flex;
    justify-content: end;
	* {
      margin-left: 5px;
	}
    button {
      background: none;
      border: none;
    }
    .disabled{
      @include disable-button;
    }
  }

  .project-category {
    color: $color-root-turquoise;
    font-size: $font-size-aсcent;
  }

  .project-social-links-container {
    margin-left: 3px;
    display: flex;
    gap: 10px;

    a {
      @include flex-center;
      display: flex;
      height: 40px;
      width: 40px;
      border-radius: 2px;
      background-color: $color-root-grey;
      color: $color-root-text;
      &:hover {
      color: $color-root-turquoise;
      }
    }

    Button {
      width: 100px;
      margin-left: auto;
      margin-right: 18px;
      background: $color-root-grey;
    }
  }
}

.block-wrapper {
  margin-top: 20px;
}

.project-story {
  .tag-wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .tag-item {
    margin: 0px 10px 10px 0px;
  }

  .privilege-title {
    @include heading-xl;
    margin: 20px 0px;
  }

  .privilege-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
}

.comment-wrapper {
  margin-bottom: 20px;
}

.comment-input-wrapper {
  margin-top: 20px;
  margin-bottom: 30px;
}

.comment-btn {
  height: 38px;
}

.statistics-wrapper {
  margin: 30px 0px 40px 0px;

  .statistics-topic {
    @include heading-xl;
    margin: 10px 0px 15px 0px;
  }

  .statistics-card-wrapper {
    padding: 30px;
    margin-bottom: 40px;
    background-color: $color-body-accordion;
  }

  .statistics-button-wrapper {
    display: flex;
  }

  .statistics-chart-wrapper {
    padding: 20px;
    background-color: $color-root-block-background;
    position: relative;

    @media (max-width: $breakpoint-lg) {
      padding: 10px;
    }
  }

  .statistics-chart-text {
    @include heading-md;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .statistics-topic-wrapper {
	display: flex;
  }

  .export-button {
	height: 30px !important;
	padding: 18px;
	margin: auto 0px auto auto;
  }

  .export-button-text {
    @include heading-sm;
  }
}

hr.horizontal-line {
  background: linear-gradient(90deg, #894eed 0%, #28abf2 100%);
  height: 5px;
}

.faqs {
  width: 80%;
}
