@import './../../styles/mixins', './../../styles/vars';

.popover {
  width: 330px;
}

.notification-popover-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.notification-popover-main {
  max-height: 400px;
  overflow: auto;
}

.notifications-title {
  font-size: $font-size-aсcent;
  margin: 0;
}

.no-notifications {
  border-top: 1px solid $color-root-text-grey;
  display: flex;
  align-items: center;
  justify-content: center;
}

.notification-popover-header,
.no-notifications {
  padding: 10px 15px;
}

.menage-title {
  display: inline-block;
  margin-left: 5px;
  font-size: $font-size-text;
  color: $color-root-text;
}

.header_natification {
  cursor: pointer;
  margin: 0px 11px;
  position: relative;
}
.header_natification_bell {
  color: $color-root-text;
  font-size: 24px;
  transform: rotate(-30deg);
}
.header_natification_new {
  font-size: 8px;
  position: absolute;
  color: $color-root-turquoise;
  right: 3px;
}

.load-more {
  width: 100%;
  background: $color-root-modal-background;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0;
}
