@import "../../styles/vars";

.card {
  padding: 20px;
  height: 200px;
  max-height: 200px;
  display: grid;
  grid-template-columns: calc(45% - 10px) calc(55% - 10px);
  grid-template-rows: calc(100%);
  column-gap: 20px;
  background: $color-root-block-background;
}

.rounded {
  border-radius: 1rem;
}

.card-image {
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.card-content {
  max-height:100%;
  display: flex;
  flex-direction: column;
}

.category {
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  color: $color-root-turquoise;
}

.title {
  margin-top: 5px;
  max-height: 38px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
  color: $color-root-text;
}

.description {
  margin-top: 10px;
  margin-bottom: auto;
  max-height: 32px;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
  color: $color-root-text;
}

.tags {
  margin-top: 10px;
  display: flex;
  gap: 10px;
  overflow: hidden;
}
