@import '../../styles/vars';
@import '../../styles/mixins';

.tabs-container {
  display: flex;
  list-style: none;
  padding-left: 0;

  .tab-title {
    @include reset-button;
    font-size: $font-size-large;
    font-weight: $font-weight-bold;
    color: $color-root-text;
    padding: 1px 10px 1px 0;
  }

  .tab-title-selected {
    .tab-info{
      .title{
        background: $color-root-turquoise-gradient;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }

  .tab-info{
    display: flex;
    .amount{
      font-size: 10px;
      font-weight: normal;
      color: $color-root-turquoise;
    }
  }
}
